defaults: &defaults
  adapter: mysql
  encoding: utf8
  reconnect: false
  pool: 5
  username: drawer
  password:
  host: localhost

development:
  database: drawer_dev
  <<: *defaults

test:
  database: drawer_test
  <<: *defaults

production:
  database: drawer_dev
  <<: *defaults

international:
  database: drawer_dev
  <<: *defaults
