html, body {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
  font-family: Tahoma, Geneva, sans-serif; }

body {
  background-color: #eeeeee; }

.hidden {
  display: none; }

.vertical-space {
  width: 0;
  height: 0;
  float: none;
  margin: 10px 0;
  padding: 0; }

.image-link {
  outline: none;
  cursor: pointer; }

a {
  outline: none; }

.header {
  padding-top: 10%;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #dddddd; }
  .header #logo {
    width: 250px;
    margin: 30px 0; }

.content {
  margin-top: 20px; }
  .content .slide-panel, .content .main-frame-container {
    width: 100%;
    height: 102px;
    padding-top: 1px; }
  .content .main-frame-container {
    position: absolute;
    left: 0;
    margin-top: -102px;
    text-align: center; }
    .content .main-frame-container .canvas-container.main {
      position: relative;
      background: transparent;
      float: none;
      margin: -5px auto; }
  .content .drawing-series {
    margin-left: 350px;
    padding: 1px 0;
    width: 10000px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .content .canvas-container {
    display: block;
    float: left; }
    .content .canvas-container.drawing {
      width: 100px;
      height: 100px;
      margin: -1px 2px;
      border: 1px solid #dddddd;
      background-color: white;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .content .canvas-container.drawing canvas {
        padding: 0;
        margin: 0; }
      .content .canvas-container.drawing.current {
        margin-left: 9px;
        margin-right: 9px; }
    .content .canvas-container.frame {
      position: relative;
      border: 5px solid #319ee6;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: -6px -2px 0 -2px;
      z-index: 10; }
      .content .canvas-container.frame .navigation-link {
        width: 30px;
        position: absolute;
        z-index: 11;
        top: 36px;
        cursor: pointer; }
        .content .canvas-container.frame .navigation-link.previous {
          left: -30px; }
        .content .canvas-container.frame .navigation-link.next {
          right: -30px; }
  .content .actions, .content .result {
    margin-top: 50px;
    text-align: center; }
    .content .actions.result, .content .result.result {
      margin-top: 30px; }
    .content .actions .response, .content .result .response {
      margin-bottom: 20px;
      text-align: center; }
      .content .actions .response .label, .content .result .response .label {
        width: 400px;
        margin: 0 auto;
        color: #bbbbbb;
        font-size: 13px;
        border-bottom: 1px solid #e3e3e3; }
      .content .actions .response .value, .content .result .response .value {
        color: #319ee6;
        padding: 4px 0 3px 0;
        height: 19px;
        line-height: 13px; }

.about {
  position: absolute;
  z-index: 12;
  width: 100%;
  top: 100%;
  background-color: #555555;
  border-top: 1px solid #333333; }
  .about .description {
    padding: 20px 20px 40px 20px;
    color: white;
    font-size: 14px; }
    .about .description h1, .about .description h2, .about .description h3 {
      text-shadow: #333333 1px 1px 0; }
    .about .description strong {
      color: #f4c221; }
  .about a.link {
    display: block;
    margin-top: -36px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #555555;
    padding: 10px 15px 17px 15px;
    text-shadow: #333333 1px 1px 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: white;
    float: right;
    margin-right: 20px; }
